.modal-wrapper {
  width: 850px;
  min-height: 470px;
  padding: 16px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 18px;
  flex-grow: 1;
}

.modal-close {
  cursor: pointer;
  padding: 5px;
}

.modal-form {
  display: flex;
}

.modal-content {
  flex-grow: 1;
}

.modal-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
}

.section-left {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(170, 170, 170, 0.5);
}

.section-right {
  flex-grow: 1;
  padding-right: 20px;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-block .text-input {
  padding: 3px 2px 3px 2px;
  font-size: 13px;
  border: 1px solid rgba(170, 170, 170, 0.5);
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  color: rgba(170, 170, 170, 1);

}

.checkbox-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.checkbox-note {
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
}

.required {
  color: rgba(221, 0, 0, 1);
}

.create-member-button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(22, 155, 213, 1);
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: 15px;
}

.cancel-text {
  padding: 4px 0;
  cursor: pointer;
}
